@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  padding: 0%;
  box-sizing: border-box;
  margin: 0%;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 10vh;
  background-color: #2a2a2c;
  color: #ffff;
  padding: 1% 5% 1% 5%;
  font-size: 1.5rem;
  border-bottom: solid 3px #b35a4e;
  letter-spacing: 2px;
}

.filter {
  color: #767a7d;
  letter-spacing: 2px;
  font-size: 1.5rem;
  padding: 0px 5px; 
}

main {
  min-height: 88vh;
  background-color: #353a40;
}

.footer {
  background-color: #0e0e0e;
  min-height: 2vh;
}

.app-ui {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 15px;
  padding: 4%;
  /* align-items: center; */
}

/* .search-input {
  grid-column-start: 1;
  grid-column-end: -1;
} */

.search-input input {
  width: 100%;
  box-sizing: border-box;
  background-color: #4a4d50;
  padding: 1.2% 1%;
  border: none;
  border-color: transparent;
  border-bottom: solid 4px #b35a4e;
  outline: none; /*remove the border around the input field when focused*/
  /* color: #7e858b; */
  color: #b8babd;
}

/*used to make the searc icon responsive on smaller screen*/
.searchContainer {
  display: inline-flex;
  flex: 1 1;
  position: relative;
  overflow: hidden;
  min-width: 100%;
}

.searchIcon {
  padding: 1.25% 0 0 0.4rem;
  background-color: #4a4d50;
  border-bottom: solid 4px #b35a4e;
}

.searchBox {
  border: 0;
  padding: 0.5rem 0.5rem 0.5rem 0;
  flex: 1;
}

.movie-filter {
  /* grid-column-end: span 1;
  grid-row-end: span 1; */
  overflow: auto;
  /* min-height: 100%; */
  padding: 1% 1%;
}

.movie-filter ul {
  list-style: none;
  /* padding: 8px; */
  margin: 0;
}

.movie-filter li {
  background-color: #42474b;
  padding: 5% 10%;
  margin: 2%;
  color: #ffff;
}

.movie-filter li.active {
  border-left: solid 4px #b35a4e;
}

.move-list {
  grid-column-end: span 4; /* Spans four columns */
  grid-row-end: span 4; /* Spans four rows */
  /* text-align: center; */
  padding: 0px 16px;
  max-height: 100%;
}


label {
  text-align: left;
  letter-spacing: 0.5px;
  color: #ffff;
  display: inline-block;
  padding: 0.5% 0.2%;
}


.movie-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  /* grid-column-end: span 2; */
  grid-auto-rows: auto;
  grid-gap: 1rem;
  padding: 4% 1%;
  /* margin: 2% 0%; */
}

.card {
  /* height: 230px;
  width: 350px; */
  /* border: 2px solid #e7e7e7; */
  border-radius: 4px;
  /* padding: .5rem; */
  background-color: #1e1c27;
}

.card > img {
  /* object-fit: cover; */
  width: 100%;
  /* height: auto; */
  max-height: 420px;
}

.movie-info {
  padding: 3% 4%;
}

.movie-info > .title {
  color: #ffff;
  font-weight: 500;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.movie-info > .duration {
  color: #ffff;
  font-size: 0.7rem;
  letter-spacing: 1px;
}

.watch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3% 4%;
}

.watch > a {
  background-color: transparent;
  border: 2px solid #b35a4e;
  border-radius: 5px;
  padding: 1% 2%;
  color: #b35a4e;
}

.watch > a:hover {
  cursor: pointer;
}


.movie-filter-list > li:hover{
  cursor: pointer;
}

.wishlist:hover{
  cursor: pointer;
}